<div class="comment-modal">
    <div class="left">
        <h4>{{this.data.blog.heading}}</h4>
        <div class="slider-wrapper">
            <button class="slider-btn left" (click)="prevSlide(this.data.blog)">&#10094;</button>
            <div class="slider">
                <div class="slides"
                    [ngStyle]="{'transform': 'translateX(-' + (this.data.blog.currentIndex * 100) + '%)'}">
                    <img *ngFor="let url of data.blog.imageUrls" [src]="url" alt="">
                </div>
            </div>
            <button class="slider-btn right" (click)="nextSlide(this.data.blog)">&#10095;</button>
            <div class="slider-indicator">
                {{ ((this.data.blog?.currentIndex ?? 0) + 1) }}/{{ this.data.blog?.imagesMetaData?.length || 0 }}
            </div>
        </div>
        <h5># {{this.data.blog.tagline}}</h5>
        <p>{{this.data.blog.content}}</p>
    </div>

    <div class="right">
        <div class="comment-sec">
            <div class="post-info">
                <h3>Posted by {{this.data.blog.username}}</h3>
            </div>
            <div *ngFor="let comment of comments" class="comment">
                <span id="author">{{ comment.author }}:</span>
                <span id="comment-content">{{ comment.content }}</span>
            </div>
        </div>

        <form class="form-grp" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <textarea formControlName="commentText" placeholder="Add a comment..."></textarea>
            <button type="submit" [disabled]="commentForm.invalid">Post</button>
        </form>
    </div>
    <i class="fa fa-times-circle close-btn" aria-hidden="true" (click)="closeModal()"></i>
</div>