* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.progress-box {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.progress-bar-container {
  width: 100%;
  background: #444;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  transition: width 0.3s ease-in-out;
}

.modal-content {
  width: 100%;
  max-width: 70%;
  max-height: 80vh;
  background: url('https://www.transparenttextures.com/patterns/paper-fibers.png'), #fff;  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.body {
  flex-grow: 1;
  max-height: 100vh;
  overflow-y: auto;
}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.input-field-new input[formControlName="heading"] {
  width: 100%;
  background: none;
  border: none;
  font-size: 40px;
  font-weight: 700;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

.input-field-new input[formControlName="tagline"] {
  width: 100%;
  background: none;
  border: none;
  font-size: 25px;
  font-weight: 600;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}

.input-field-new input[formControlName="location"] {
  width: 100%;
  padding: 2px;
  border-radius: 10px;
  background: none;
  height: 40px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif !important;
}

.input-field-new.error input {
  border-color: red;
}

.small {
  color: red;
  font-size: 12px;
}

textarea[formControlName="content"] {
  font-family: 'Poppins', sans-serif !important;
  width: 100%;
  height: 250px;
  padding: 2px;
  background: none;
  border: none;
  border-radius: 20px;
  font-weight: 500;
  font-size: 20px;
  resize: vertical;
}

textarea[formControlName="content"]:focus {
  outline: none;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.close-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: rgb(220, 49, 49);
}

.close-btn:hover{
  color: #c62828
}

.btn-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

button[type="submit"] {
  text-align: center;
  background-color: black;
  margin-top: 40px;
  padding: 12px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 30%;
}

button[type="submit"]:disabled {
  font-family: 'Poppins', sans-serif !important;
  color: black;
  color: wheat;
  background-color: #707070;
  cursor: not-allowed;
}

.add-section {
  font-weight: 500;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.sub-hed {
  font-family: 'Poppins', sans-serif !important;
  color: #ada5a5;
}

.add-section div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  font-size: 1.5rem;
  color: black;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}