<div class="outer background-image">
    <div class="panel">
        <div class="panel-heading">
            <h2>Excited to Write Your <br>First Blog?</h2>
        </div>
        <div class="panel-sub">
            <p>SignUp and start with your first blog.</p>
        </div>
        <div class="panel-body p-3">
            <form [formGroup]="signupForm">

                <div class="profile-container">
                    <!-- Circular Profile Picture Preview -->
                    <label for="profileInput" class="profile-label">
                        <img *ngIf="imagePreview" [src]="imagePreview" alt="Profile Picture" class="profile-picture" />
                        <div *ngIf="!imagePreview" class="placeholder">+</div>
                    </label>

                    <!-- Hidden File Input -->
                    <input type="file" id="profileInput" (change)="onFileSelected($event)" accept="image/*" hidden />

                    <!-- Upload Button -->
                    <button type="button" class="upload-btn" (click)="triggerFileInput()">Upload your profile
                        picture</button>
                </div>

                <!-- First Name Input Field -->
                <div class="form-group pt-3">
                    <div class="input-field"
                        [class.error]="signupForm.get('firstname')?.invalid && signupForm.get('firstname')?.touched">
                        <span class="fa fa-address-book p-2"></span>
                        <input formControlName="firstname" type="text" placeholder="First Name">
                    </div>
                </div>
                <!-- Validation Messages -->
                <small class="text-danger"
                    *ngIf="signupForm.controls['firstname'].dirty && signupForm.hasError('required','firstname')">*First
                    Name is a required field</small>
                <small class="text-danger"
                    *ngIf="signupForm.get('firstname')?.touched && signupForm.get('firstname')?.hasError('noSpace')">
                    *First Name cannot contain spaces
                </small>

                <div class="form-group pt-3">
                    <div class="input-field"
                    [class.error]="signupForm.get('lastname')?.invalid && signupForm.get('lastname')?.touched">
                        <span class="fa fa-address-book p-2"></span>
                        <input formControlName="lastname" type="text" placeholder="Last Name">
                    </div>
                </div>
                <small class="text-danger"
                    *ngIf="signupForm.controls['lastname'].dirty && signupForm.hasError('required','lastname')">*Last
                    Name is a required field</small>
                <small class="text-danger"
                    *ngIf="signupForm.get('lastname')?.touched && signupForm.get('lastname')?.hasError('noSpace')">
                    *Last Name cannot contain spaces
                </small>

                <div class="form-group pt-3">
                    <div class="input-field"
                        [class.error]="signupForm.controls['email'].invalid && signupForm.controls['email'].touched">
                        <span class="fa fa-envelope p-2"></span>
                        <input formControlName="email" type="text" placeholder="Email">
                    </div>
                </div>
                <small class="text-danger"
                    *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('required')">
                    *Email is a required field
                </small>
                <small class="text-danger"
                    *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.hasError('email')">
                    *Please enter a valid email address
                </small>

                <div class="form-group pt-3">
                    <div class="input-field"
                        [class.error]="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">
                        <span class="fa fa-user p-2"></span>
                        <input formControlName="username" type="text" placeholder="Username">
                    </div>
                </div>
                <small class="text-danger"
                    *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">*UserName
                    is a required field</small>
                    
                <div class="form-group pt-3">
                    <div class="input-field"
                        [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
                        <span class="fa fa-lock p-2"></span>
                        <input formControlName="password" [type]="type" placeholder="Password">
                        <span (click)="hideShowPass()" class="fa {{passClass}}"></span>
                    </div>
                </div>
                <small class="text-danger"
                    *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">*Password
                    is a required field</small>
                <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">Sign Up</button>
                <div class="text-center pt-4 text-muted">Already have an account? <a id="forget"
                        routerLink="/login">Login</a></div>

            </form>
        </div>
        <div>
            <div class="text-center">
                <div class="separator">
                    <p>-------------- Or Login with --------------</p>
                </div>
                <a href="https://www.facebook.com" target="_blank" class="px-2"><img
                        src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-file-facebook-icon-svg-wikimedia-commons-4.png"
                        alt=""></a>
                <a href="https://www.google.com" target="_blank" class="px-2"><img
                        src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                        alt=""></a>
                <a href="https://www.github.com" target="_blank" class="px-2"><img
                        src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                        alt=""></a>
            </div>
        </div>
    </div>
</div>