* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border-radius: 0;
}

.create-new-blog{
  padding: 30px;
  margin: auto;
  border-radius: 20px;
  color: wheat;
  background: linear-gradient(90deg, #223560, #031836, #0b3d91, #031836, #223560);
  background-size: 400% 100%;
  display: flex;
  flex-direction: column;
  transition: background-position 0.3s ease-in-out;
}

.read-more{
  background: none;
  color: wheat;
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 10px;
  font-size: 0.9rem;
}

.create-new-blog:hover{
  animation: gradientMove 1.5s ease-in-out;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.wrapper{
  border-bottom: 10px solid white;
  border-radius: 20px;
}

.blog-container{
  border-bottom: 10px solid rgb(255, 255, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #000000, #282828);
}

.feed-container{
  width: 60%;
  margin: 70px auto;
}

.poster-info{
  padding: 5px 10px;
}

.blog-info{
  padding: 5px 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.content{
  color: white;
  padding-left: 15px;
  font-weight: 300;
  font-size: 0.9rem;
}

.likes span{
  color: white;
  font-size: 1rem;
}

.slide-title{
  font-size: 2rem;
  color: rgb(238, 233, 233);
}

.slide-subtitle{
  color: rgb(165, 165, 165);
  font-size: 1rem;
  font-style: italic;
}

.location-info{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.comment-info{
  color: white;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.latest-comment{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

#author{
  color: wheat;
  font-size: 0.9rem;
  font-weight: 500;
}

#comment{
  color: white;
  font-size: 0.8rem;
}

.location-info i{
  font-family: FontAwesome !important;
  color: wheat;
}

.location{
  font-size: 1rem;
  color: wheat;
}

textarea[formControlName="commentText"] {
  color: white;
  height: 40px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  outline: none;
  width: 50%;
  padding: 10px;
  font-size: 0.8rem;
  resize: vertical;
}

textarea[formControlName="commentText"]::placeholder{
  color: rgb(180, 180, 180);
}

.comment-details{
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-details i{
  margin-left: 5px;
  font-family: FontAwesome !important;
}

.comment-details i.inactive {
  color: rgb(140, 140, 140);
}

.comment-details i.active {
  color: wheat;
  cursor: pointer;
}

.profile-pic{
  border-radius: 50%;
  padding: 3px;
}

.posted-by{
  color: wheat;
  font-size: 1rem
}

.create-new-blog .click-btn{
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background: beige;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 30%;
  transition: all 0.2s ease-in-out;
}

.create-new-blog .click-btn:hover{
  transform: scale(1.05);
}

.user-details{
  color: wheat;
}

.slider-wrapper{
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.slider{
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.slides{
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slides img{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.slider-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 45%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}

.slider-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
}

button{
  text-align: center;
}

.like-ele{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.likes{
  font-size: 0.8rem;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.like-ele i{
  cursor: pointer;
  font-family: FontAwesome !important;
  color: wheat;
}

.fa-heart, .fa-heart-o {
  transition: color 0.3s ease;
}

.like-ele i.liked {
  color: red;
}

.likecount{
  padding-left: 20px;
  color: wheat;
}